<!DOCTYPE HTML>     <!-- Indique le numéro de version du langage HTML utilisé -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">  <!-- Balise obligatoire dans un fichier html -->
<head>  <!-- En-tête -->
    <title>Getting Started: Serving Web Content</title>     <!-- Titre de la page -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   <!-- Métadonnées non affichées sur la page, utiles par exemple aux navigateurs web, aux moteurs de recherche, et aux outils d'indexation en général -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  <!-- Indique la relation qu'il existe entre ce document et le contenu de href -->
</head>     <!-- Fin de l'en-tête -->
<body>  <!-- Début du contenu de la page -->

<script src="https://unpkg.com/vue"></script>    <!-- Permet d'inclure Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>     <!-- Permet d'obetnir des avertissements utiles dans la console lors de la compilation et de l'exécution -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>   <!-- Nécessaire à l'utilisation d'Axios quui permet de se connecter à l'API -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <!-- Permet au code javascript de formuler des requêtes en utilisant l'outil ajax et des fonctionnalités du framework jquery -->
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>     <!-- Permet au code javascript d'utiliser des fonctionnalités du protocole de messagerie mqtt -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>   <!-- Permet d'utiliser la bibliothèque paho pour gérer les connexions d'un client mqtt -->


<div id="create_room">  <!-- Crée le bloc create_room -->
    <nav class="navbar navbar-default">     <!-- Début d'une section de navigation, bloc d'une page contenant des liens vers d'autres sections de cette page ou vers d'autres pages -->
        <div class="container-fluid">   <!-- Crée un bloc -->
            <div class="navbar-header">     <!-- Crée un autre bloc -->
                <a class="navbar-brand" href="#">Philips Hue Control Platform</a>   <!-- La balise a indique que le texte qui suit est un lien hypertexte menant vers le contenu de href -->
            </div>  <!-- Fin du bloc -->
            <ul class="nav navbar-nav">     <!-- La balise ul permet de créer une liste d'éléments -->

                <!-- La balise li indique un élément dans une liste, l'ajout de la balise a indique que cet élément est un lien hypertexterenvoyant vers le contenu de l'attribut href -->
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/create_building">Create Building</a></li>
                <li><a href="/create_room">Create Room</a></li>
                <li><a href="/create_light">Create Light</a></li>
            </ul>   <!-- Fin de la liste d'éléments -->
        </div>  <!-- Fin du bloc -->
    </nav>  <!-- Fin de la section de navigation -->

    <h1>Create a room</h1>  <!-- Titre de la page à son ouverture -->
    <select v-model="room_buildingId">  <!-- La balise Select permet de choisir une option dans une liste / ici elle permet de choisir le building dans lequel on va créer la nouvelle room parmi les buildings disponibles -->
        <option value="" disabled selected>Select a building</option>   <!-- L'option disabled value empêche de soumettre Select au clic de l'utilisateur pour qu'il ne puisse cliquer que sur les buildings disponibles -->
        <option v-for="building in allbuildings" v-bind:value="building.id">    <!-- On parcourt l'ensemble des buildings de allbuildings -->
            {{ building.name }}     <!-- Pour chaque building, on affiche son nom dan sle menu déroulant -->

        </option> <!-- Fin des options du menu déroulant -->

    </select>   <!-- Fin du meu déroulant -->
    <input v-model="room_name" placeholder="Enter a room name"></input>     <!-- On demande à l'utilisateur de saisir le nom de la nouvelle room, l'ID sera ajouté automatiquement lors de l'introduction dans la base de données -->
    <input type="number" v-model="room_floor" placeholder="Enter a floor"></input>  <!-- On demande à l'utilisateur de saisir l'étage de la nouvelle room -->
    <button @click="createRoom()" class="btn btn-light">create</button>     <!-- Bouton qui déclenche la création de la room et l'ajout en base -->
    <p>{{message}}</p>  <!-- Appel d'une variable contenant un message, soit un message de confirmation soit un message d'erreur -->

</div>  <!-- Fin du bloc -->

<script>    // Début du script Vuejs

var url = "https://faircorp-benjamin.cleverapps.io/api"  // Variable contenant l'URL de l'API

var building_vue = new Vue({    // Création d'une instance de vue appelée building_vue

  el: '#create_room',
  data: {   // Contient l'ensemble des données qui seront réactives, c'est-à-dire qui s'actualiseront en direct sur la page
  allbuildings: [],     // Rassemblera l'ensemble des buildings existants
  room_name: '',    // Contient le nom de la room
  room_floor: '',   // Contient l'étage de la room
  room_buildingId: '',  // Contient l'ID du building auquel appartient la room
  message: ''   // Contiendra un  message à afficher
  },
  created(){    // S'exécute dès le début de l'exécution
      let get_buildings_url = url + "/buildings";     // Obtention de l'URL pour récupérer tous les buildings
      fetch(get_buildings_url)    // Permet d'aller chercher les données grâce à l'URL et à une requête GET
          .then(response => response.json())  // Récupération du JSON, issu de la requête GET, contenant ces données
          .then(json => {this.allbuildings = json     // Conversion puis stockage des données contenues dans le JSON dans la variable allbuildings
          });
  },
  methods: {    // Ensemble des méthodes

      createRoom: function(){   // Méthode pour créer une room
          var create_room_url = url +"/rooms";    // On stocke l'URL qui permet de récupérer l'ensemble des rooms existantes à l'aide d'une requête GET
          var string_post = '{"floor": ' + this.room_floor + ', "name": "' + this.room_name + '" , "status": "ON" , "buildingId": ' + this.room_buildingId + '}';    // On crée le fichier JSON contenant les attributs de la nouvelle room
          var json_post = JSON.parse(string_post);    // On convertit le fichier JSON précédemment créé en objet javascript
          if(typeof(this.room_buildingId) != "undefined" ){   // On vérifie que l'utilisateur a bien sélectionné un building dans lequel créer la room
              axios.post(create_room_url , json_post);    // On utilise Axios afin de former une requête POST et de créer la room
              this.room_name = '';  // On vide à nouveau la variable room_name afin qu'elle soit réutilisable
              this.message = 'the room has been added';     // On informe l'utilisateur du succés de la méthode
            }
          else{this.message = 'please select a building';}  // Si l'utilisateur a oublié de sélectionner un building, on l'en avertit
      }

}})

</script>   <!-- Fin du script Vuejs -->
</body>     <!-- Fin du contenu de la page -->
</html>     <!-- Fin du document html -->
